node_modules
ios/Pods
android/app/build
android/.gradle
ios/Podfile.lock
android/app/.project
android/app/.classpath
android/.settings/org.eclipse.buildship.core.prefs
android/.project
android/app/.settings/org.eclipse.buildship.core.prefs
package-lock.json
android/local.properties
android/VTConnect.iml
yarn.lock
*.iml
.idea
*.keystore
build
.DS_Store
*.xcuserstate
ios/VTConnect.xcodeproj/project.pbxproj
.env
*.xcuserstate
android/app/release/app-release.apk
android/app/release/output.json
.scannerwork
TestAppendFile